<dashboard-layout>
  <router-outlet></router-outlet>
</dashboard-layout>




<!--
<nav class="navbar navbar-expand-lg bg-primary w-100 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Servicios Sierras Chicas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/datospersonales">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex justify-content-center rounded mx-auto w-25">
        <div class="input-group">
          <input type="text" class="form-control border-end me-auto" placeholder="Buscador" aria-label="Search">
          <button class="input-group-text border-start bg-gray" type="button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </form>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-2">
          <button class="btn btn-warning" routerLink="/login">Iniciar Sesion</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-success" routerLink="/register">Registrarse</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5 pt-5">
  <router-outlet></router-outlet>
</div>
-->
