<div class="container d-flex justify-content-center align-items-center vh-100 flex-column position-relative">
  <ng-container *ngIf="alerta">
    <fn-alert [mensajeRespuesta]="mensajeRespuesta"></fn-alert>
  </ng-container>
  <div class="col-md-5 mt-5">
    <form [formGroup]="formUsuario" class="p-5 border shadow-lg rounded">
      <h2 class="text-center">Registro de Usuario</h2>
      <hr class="p-1">
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email"
               class="form-control"
               id="email"
               formControlName="email"
               [ngClass]="{'is-invalid': email?.invalid && (email?.touched || email?.dirty)}"
        >
        <div class="text-danger">
          <p *ngIf="email?.getError('required') && (email?.touched || email?.dirty)">Debe ingresar un correo electronico</p>
          <p *ngIf="email?.getError('email') && (email?.touched || email?.dirty)">Debe ingresar un correo electronico2</p>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="password">Contraseña</label>
        <input type="password"
               class="form-control"
               id="password"
               formControlName="password"
               [ngClass]="{'is-invalid': password?.invalid && (password?.touched || password?.dirty)}"
        >
        <div class="text-danger">
          <p *ngIf="password?.getError('required') && (password?.touched || password?.dirty)">Debe ingresar una contraseña</p>
          <p *ngIf="password?.getError('minlength') && (password?.touched || password?.dirty)">La contraseña debe tener minimo 8 caracteres</p>
        </div>
      </div>
      <div class="d-grid gap-2 justify-content-center">
        <button type="submit" class="btn btn-primary pe-4 ps-4" [disabled]="formUsuario.invalid" (click)="registrarUsuario()">Registrarte</button>
      </div>
    </form>
  </div>
</div>
